APP_NAME="Mini RAG"
APP_VERSION="0.1.0"

FILE_ALLOWED_TYPES=["text/plain", "application/pdf", "text/csv", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

MONGODB_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<app>"
MONGODB_DATABASE="mini-rag"

GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="OPENAI"

OPENAI_API_KEY="sk-..."
OPENAI_API_URL="https://api.openai.com/v1"

GENERATION_MODEL_ID="gpt-4o-mini"
EMBEDDING_MODEL_ID="text-embedding-3-small"
EMBEDDING_MODEL_SIZE=1536

INPUT_DEFAULT_MAX_CHARACTERS=4096
GENERATION_DEFAULT_MAX_TOKENS=500
GENERATION_DEFAULT_TEMPERATURE=0.1
SCORE_THRESHOLD=0.2

VECTOR_DB_BACKEND=QDRANT
QDRANT_DB_API_KEY="..."
QDRANT_DB_URL="https://<cluster>.us-east-1-1.aws.cloud.qdrant.io"
DISTANCE_METHOD=cosine

PRIMARY_LANG="en"
DEFAULT_LANG="en"
